@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hotel Search!</h1>
    <p>This solution demonstrates a simple search process using the Azure Cognitive Search engine and the hotel example data.</p>
</div>
